.Img{
  margin-left: 20%;
  margin-top: 2%;
}
.flex-container{
  display: flex;
  flex-wrap: nowrap;
  margin-left: 27%;
}
.flex-container > div {
  text-align: center;
}
button{
  height: 40px;
  width: 80px;
  margin: 10px;
  border-color: black;
  background-color: white;
  color: black;
}
button:hover{
  background-color: gray;
  color:white;
}
button:active{
  background-color: black;
  color: white;
}
